ddns-update-style none;

default-lease-time {{ default_lease_time }};
max-lease-time {{ max_lease_time }};

# If this DHCP server is the official DHCP server for the local
# network, the authoritative directive should be uncommented.
authoritative;

# Use this to send dhcp log messages to a different log file (you also
# have to hack syslog.conf to complete the redirection).
log-facility local7;

# No service will be given on this subnet, but declaring it helps the
# DHCP server to understand the network topology.

#subnet 10.152.187.0 netmask 255.255.255.0 {
#}

# This is a very basic subnet declaration.

{% foreach subnet in subnets %}
subnet {{ subnet.sub }} netmask {{ subnet.mask }} {
    range {{ subnet.min }} {{ subnet.max }};
    option routers {{ subnet.gateway }};
}
{% endforeach %}